<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Accueil</title>
</head>
<body>
<div class="d-flex">
    <header class="flex-column bg-dark text-white p-3" style="min-height: 100vh;">
        <div class="logo mb-4">
            <h1>EXAM PLAN</h1>
        </div>
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/exam/Accueil1">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/exam/Users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/exam/Elements">Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/exam/Salles">Salles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/exam/Examens">Examens</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="content p-4" id="main-content">
        <h2>Bienvenue sur EXAM PLAN</h2>
        <p>Ceci est une plateforme de gestion des examens pour les étudiants et les professeurs. Utilisez le menu à gauche pour naviguer entre les différentes sections.</p>
        <!-- Ajoutez ici plus de contenu -->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
